# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# hardhat
/cache
/artifacts
/typechain
/typechain-types

# misc
.DS_Store
*.pem
web-vault.zip

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

evault_db_store.json
